<%= render :partial => 'spree/tickets/share/ticket_sub_menu' %>


<br/>
<br/>
<br/>

<table class="index">
  <tr>    
    <th>updated_at</th>    
    <th>Ticket</th>
    <th>Customer Email</th>
    <th>Admin User Email</th>
    <th>Status</th>
    <th>created_at</th>          
    <th>Subject</th>
  </tr>

<%@collections.each do |collect|%>
  <tr>
    <td><%=collect.updated_at%></td>  
    <td><%=link_to collect.number, edit_admin_ticket_path(collect.number)%></td>
    <td><%=collect.user.email if !collect.user.blank?%></td>
    <td><%=collect.admin_user.email if !collect.admin_user.blank?%></td>
    <td><%=collect.ticket_state.name%></td>
    <td><%=collect.created_at%></td>
    <td><%=collect.subject%></td>
  </tr>
<%end%>
</table>
<%= paginate @collections %>

<% content_for :sidebar do %>
  <div class="box" data-hook="admin_tickets_index_search">
    <h3><%= t(:search) %></h3>
    <%= form_for [:admin, @search] do |f| %>
      <%= label_tag nil, t(:date_range) %><br />
      <div class="date-range-filter">
        <div class="left sub-field">
          <%= f.text_field :created_at_greater_than, :class => 'datepicker' %><br />
          <%= label_tag nil, t(:start), :class => 'sub' %>
        </div>
        <div class="right sub-field">
          <%= f.text_field :created_at_less_than, :class => 'datepicker' %><br />
          <%= label_tag nil, t(:stop), :class => 'sub' %>
        </div>
      </div>


      <p>
        <%= label_tag nil, t(:ticket_number) %><br />
        <%= f.text_field :number_like, :size => 25 %>
      </p>
      <p>
        <%= label_tag nil, t(:email) %><br />
        <%= f.text_field :user_email_like, :size => 25 %>
      </p>
      
      <p>
        <%= label_tag nil, t(:subject_begins_with) %><br />
        <%= f.text_field :subject_starts_with, :size => 25 %>
      </p>
      
      <div data-hook="admin_orders_index_search_buttons">
        <p><%= button t(:search) %></p>
      </div>
    <% end %>
  </div>
<% end %>
